.navbar {
    background-color: var(--primary-bg-color);
}

.navbar .navbar-toggler {
    border-color: white;
}

.navbar .navbar-toggler-icon,
.navbar .navbar-brand img {
    filter: invert();
}

.navbar .navbar-brand img {
    transform: rotate(45deg);
    width: 1.5rem;
}

@media screen and (max-width: 576px) {
    .navbar {
        background-color: var(--secondary-bg-color);
    }
}
.nav-link:hover,
.nav-link:focus,
.nav-link.active-link {
  color: rgb(246, 255, 0) !important;
}

.admin-add-btn {
  padding: 8px 16px;
  background-color: #0d6efd;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  margin-left: 10px;
  font-weight: bold;
}

.admin-add-btn:hover {
  background-color: #0b5ed7;
}